
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.landingPageContainer {
  /* width: 100vw;
  height: 100%; */
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.6rem;
  font-weight: 650;
}

.landingPageContainer nav .navlist{
  margin-right: 1.5rem;
  display: flex;
  gap: 1.2rem;
  /* font-size: 1rem; */
  font-weight: 600;
  cursor: pointer;
}

.landingPageContainer nav .navlist p:hover{
  text-decoration: underline;
}


.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  /* padding-top: 15vh; */
   height: 90vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 1.4rem;
}


.landingMainContainer > div:nth-child(1) div[role = "button"] {
  margin-top: 1.8rem;
}

.landingMainContainer > div:nth-child(1) div[role = "button"] a {
  color: white;
  text-decoration: none;

}


.landingMainContainer > div:nth-child(2) img {
  height: 65vh;
  width: auto;
}



.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}